{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 120,
  "trailingComma": "es5",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "react",
    "react-dom",
    "zustand",
    "^@emotion",
    "^@/app/(.*)$",
    "^@/chrome/(.*)$",
    "^@/components/(.*)$",
    "^@/context/(.*)$",
    "^@/mock/(.*)$",
    "^@/hook/(.*)$",
    "^@/lib/(.*)$",
    "^@/*",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
